* {
  box-sizing: border-box;
}

body,
html,
.App,
.vue-template,
.vertical-center {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
}

.auth-form {
  text-align: center;
}

.auth-form img.brand-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}